<div class="row">
  <div class="col-xs-12">
    <img
      [src]="dinRecipies.imagePath"
      alt="{{ dinRecipies.name }}"
      class="img-responsive"
      style="max-height: 80%"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ dinRecipies.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu" >
        <li><a class="dropdown-item" href="#">Shoping List</a></li>
        <li><a class="dropdown-item" href="#">Edit recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ dinRecipies.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
